body {
    margin: 0;

    width: 100%;
    height: 100vh;

    background: linear-gradient(258.97deg, #333333 0%, #C1C1C1 100%), #C4C4C4;

    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    background: transparent;
    border: transparent;
    cursor: pointer;

    color: white;
}

button:focus {
    outline: none;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

.copied-active {
    top: -80% !important;
    opacity: 1 !important;
}

.page {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.link__wrapper {
    display: flex;
}

.link {
    width: 750px;
    height: 70px;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px 0px 0px 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);

    background: #eaeaea;
}

.wrapper-btn {
    position: relative;
}

.link__btn {
    width: 150px;
    height: 70px;

    font-size: 26px;
    transition: .4s ease;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #63DE43;
    border-radius: 0px 20px 20px 0px;
    user-select: none;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-left: 2px solid rgba(91, 91, 91);
}

.link__btn:hover {
    background: #2AB61E;
}

.link__btn span {
    margin-bottom: 4px;
}

.link__btn-svg {
    padding: 2px 8px 0px;

    width: 26px;
    height: 34px;
}

.link__btn-copied {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 10px 20px;

    display: flex;
    user-select: none;

    position: absolute;
    left: 12%;
    top: -60%;

    border-radius: 10px;
    color: white;

    opacity: 0;
    transition: .4s ease;

    background: rgba(0, 0, 0, 0.5);
}

.link__btn-copied svg {
    position: absolute;
    bottom: -9px;
    left: 40%;
}